In [7]:
import pandas as pd
from functions import *
import lightgbm as lgb

In [2]:
path = 'data/'

movies = pd.read_csv(path+"IMDB movies.csv")
names = pd.read_csv(path+"IMDB names.csv")
ratings = pd.read_csv(path+"IMDB ratings.csv")
title = pd.read_csv(path+"IMDB title_principals.csv")

movies.shape, names.shape, ratings.shape, title.shape

((81273, 22), (175715, 20), (81273, 49), (377848, 6))

#### Check individual tables

In [3]:
df_stats(movies)
movies.head(5).T

                      DataTypes  MissingPct  NUnique
avg_vote                float64    0.000000       90
metascore               float64   84.346585       99
year                      int64    0.000000      110
duration                  int64    0.000000      265
reviews_from_critics    float64   13.518635      587
reviews_from_users      float64    8.707689     1161
genre                    object    0.000000     1264
language                 object    0.928968     4251
budget                   object   71.941481     4425
country                  object    0.047986     4632
usa_gross_income         object   81.428027    14648
votes                     int64    0.000000    14794
date_published           object    0.000000    21087
worlwide_gross_income    object   63.220258    29378
production_company       object    5.321571    30122
director                 object    0.089821    32544
writer                   object    1.837018    63335
title                    object    0.000000    76618
original_title           object    0.000000    76631
description              object    2.989923    78727
actors                   object    0.081208    81159
imdb_title_id            object    0.000000    81273

,0,1,2,3,4
imdb_title_id,tt0000574,tt0001892,tt0002101,tt0002130,tt0002199
title,The Story of the Kelly Gang,Den sorte drøm,Cleopatra,L'Inferno,"From the Manger to the Cross; or, Jesus of Naz..."
original_title,The Story of the Kelly Gang,Den sorte drøm,Cleopatra,L'Inferno,"From the Manger to the Cross; or, Jesus of Naz..."
year,1906,1911,1912,1911,1912
date_published,1906-12-26,1911-08-19,1912-11-13,1911-03-06,1913
genre,"Biography, Crime, Drama",Drama,"Drama, History","Adventure, Drama, Fantasy","Biography, Drama"
duration,70,53,100,68,60
country,Australia,"Germany, Denmark",USA,Italy,USA
language,NaN,NaN,English,Italian,English
director,Charles Tait,Urban Gad,Charles L. Gaskill,"Francesco Bertolini, Adolfo Padovan",Sidney Olcott
writer,Charles Tait,"Urban Gad, Gebhard Schätzler-Perasini",Victorien Sardou,Dante Alighieri,Gene Gauntier
production_company,J. and N. Tait,Fotorama,Helen Gardner Picture Players,Milano Film,Kalem Company
actors,"Elizabeth Tait, John Tait, Norman Campbell, Be...","Asta Nielsen, Valdemar Psilander, Gunnar Helse...","Helen Gardner, Pearl Sindelar, Miss Fielding, ...","Salvatore Papa, Arturo Pirovano, Giuseppe de L...","R. Henderson Bland, Percy Dyer, Gene Gauntier,..."
description,True story of notorious Australian outlaw Ned ...,Two men of high rank are both wooing the beaut...,The fabled queen of Egypt's affair with Roman ...,Loosely adapted from Dante's Divine Comedy and...,"An account of the life of Jesus Christ, based ..."
avg_vote,6.1,5.9,5.2,7,5.7
votes,537,171,420,2019,438
budget,$ 2250,NaN,$ 45000,NaN,NaN
usa_gross_income,NaN,NaN,NaN,NaN,NaN
worlwide_gross_income,NaN,NaN,NaN,NaN,NaN
metascore,NaN,NaN,NaN,NaN,NaN
reviews_from_users,7,4,24,28,12
reviews_from_critics,7,2,3,14,5

In [4]:
df_stats(names)
names.head(5).T

                      DataTypes  MissingPct  NUnique
spouses_with_children     int64    0.000000        7
divorces                  int64    0.000000       10
spouses                   int64    0.000000       11
children                  int64    0.000000       15
height                  float64   82.881370       68
death_year              float64   84.726404      240
birth_year              float64   57.254076      282
reason_of_death          object   93.186694     1582
primary_profession       object    0.212845     5331
place_of_death           object   85.751928     5962
date_of_death            object   84.716729    16471
place_of_birth           object   59.524230    17055
death_details            object   84.712745    26435
date_of_birth            object   57.259198    32607
birth_details            object   57.186922    73108
bio                      object   30.095894   122806
known_for_titles         object    0.550323   169481
name                     object    0.000000   173127
birth_name               object    0.000000   173778
imdb_name_id             object    0.000000   175715

,0,1,2,3,4
imdb_name_id,nm0000001,nm0000002,nm0000003,nm0000004,nm0000005
name,Fred Astaire,Lauren Bacall,Brigitte Bardot,John Belushi,Ingmar Bergman
birth_name,Frederic Austerlitz Jr.,Betty Joan Perske,Brigitte Bardot,John Adam Belushi,Ernst Ingmar Bergman
height,177,174,166,173,179
bio,"Fred Astaire was born in Omaha, Nebraska, to J...",Lauren Bacall was born Betty Joan Perske on Se...,"Brigitte Bardot was born on September 28, 1934...","John Belushi was born in Chicago, Illinois, US...","Ernst Ingmar Bergman was born July 14, 1918, t..."
birth_details,"May 10, 1899 in Omaha, Nebraska, USA","September 16, 1924 in The Bronx, New York City...","September 28, 1934 in Paris, France","January 24, 1949 in Chicago, Illinois, USA","July 14, 1918 in Uppsala, Uppsala län, Sweden"
birth_year,1899,1924,1934,1949,1918
date_of_birth,1899-05-10,1924-09-16,1934-09-28,1949-01-24,1918-07-14
place_of_birth,"Omaha, Nebraska, USA","The Bronx, New York City, New York, USA","Paris, France","Chicago, Illinois, USA","Uppsala, Uppsala län, Sweden"
death_details,"June 22, 1987 in Los Angeles, California, USA ...","August 12, 2014 in New York City, New York, US...",NaN,"March 5, 1982 in Hollywood, Los Angeles, Calif...","July 30, 2007 in Fårö, Gotlands län, Sweden"
death_year,1987,2014,NaN,1982,2007
date_of_death,1987-06-22,2014-08-12,NaN,1982-03-05,2007-07-30
place_of_death,"Los Angeles, California, USA","New York City, New York, USA",NaN,"Hollywood, Los Angeles, California, USA","Fårö, Gotlands län, Sweden"
reason_of_death,pneumonia,stroke,NaN,acute cocaine and heroin intoxication,NaN
spouses,2,2,4,1,5
divorces,0,1,3,0,4
spouses_with_children,1,2,1,0,5
children,2,3,1,0,8
primary_profession,"soundtrack,actor,miscellaneous","actress,soundtrack","actress,soundtrack,producer","actor,writer,soundtrack","writer,director,actor"
known_for_titles,"tt0050419,tt0053137,tt0072308,tt0043044","tt0037382,tt0038355,tt0117057,tt0071877","tt0054452,tt0059956,tt0057345,tt0049189","tt0078723,tt0072562,tt0080455,tt0077975","tt0050976,tt0083922,tt0069467,tt0050986"

In [5]:
df_stats(ratings)
names.head(5).T

                          DataTypes  MissingPct  NUnique
median_vote                 float64    0.000000       19
females_0age_avg_vote       float64   81.133956       84
top1000_voters_rating       float64    0.745635       89
males_allages_avg_vote      float64    0.001230       89
weighted_average_vote       float64    0.000000       90
mean_vote                   float64    0.000000       90
allgenders_45age_avg_vote   float64    0.139038       90
non_us_voters_rating        float64    0.004922       90
us_voters_rating            float64    0.294071       91
males_0age_avg_vote         float64   74.974469       91
females_30age_avg_vote      float64    1.063084       91
males_30age_avg_vote        float64    0.011074       91
females_18age_avg_vote      float64    6.193939       91
males_45age_avg_vote        float64    0.188254       91
females_allages_avg_vote    float64    0.086129       91
males_18age_avg_vote        float64    1.299324       91
females_45age_avg_vote      float64    3.164643       91
allgenders_30age_avg_vote   float64    0.011074       91
allgenders_0age_avg_vote    float64   67.340937       91
allgenders_18age_avg_vote   float64    0.510625       91
females_0age_votes          float64   81.133956      228
males_0age_votes            float64   74.974469      511
allgenders_0age_votes       float64   67.340937      613
top1000_voters_votes        float64    0.745635      890
votes_2                       int64    0.000000     2606
females_45age_votes         float64    3.164643     3164
votes_1                       int64    0.000000     3292
votes_3                       int64    0.000000     3307
votes_4                       int64    0.000000     4431
females_18age_votes         float64    6.193939     4585
females_30age_votes         float64    1.063084     5548
votes_9                       int64    0.000000     5722
votes_5                       int64    0.000000     6157
votes_10                      int64    0.000000     6238
males_18age_votes           float64    1.299324     6959
males_45age_votes           float64    0.188254     7111
females_allages_votes       float64    0.086129     7308
votes_8                       int64    0.000000     7666
votes_6                       int64    0.000000     7708
allgenders_45age_votes      float64    0.139038     7751
allgenders_18age_votes      float64    0.510625     7844
us_voters_votes             float64    0.294071     8299
votes_7                       int64    0.000000     8546
males_30age_votes           float64    0.011074    10010
allgenders_30age_votes      float64    0.011074    10836
non_us_voters_votes         float64    0.004922    11321
males_allages_votes         float64    0.001230    12699
total_votes                   int64    0.000000    14794
imdb_title_id                object    0.000000    81273

,0,1,2,3,4
imdb_name_id,nm0000001,nm0000002,nm0000003,nm0000004,nm0000005
name,Fred Astaire,Lauren Bacall,Brigitte Bardot,John Belushi,Ingmar Bergman
birth_name,Frederic Austerlitz Jr.,Betty Joan Perske,Brigitte Bardot,John Adam Belushi,Ernst Ingmar Bergman
height,177,174,166,173,179
bio,"Fred Astaire was born in Omaha, Nebraska, to J...",Lauren Bacall was born Betty Joan Perske on Se...,"Brigitte Bardot was born on September 28, 1934...","John Belushi was born in Chicago, Illinois, US...","Ernst Ingmar Bergman was born July 14, 1918, t..."
birth_details,"May 10, 1899 in Omaha, Nebraska, USA","September 16, 1924 in The Bronx, New York City...","September 28, 1934 in Paris, France","January 24, 1949 in Chicago, Illinois, USA","July 14, 1918 in Uppsala, Uppsala län, Sweden"
birth_year,1899,1924,1934,1949,1918
date_of_birth,1899-05-10,1924-09-16,1934-09-28,1949-01-24,1918-07-14
place_of_birth,"Omaha, Nebraska, USA","The Bronx, New York City, New York, USA","Paris, France","Chicago, Illinois, USA","Uppsala, Uppsala län, Sweden"
death_details,"June 22, 1987 in Los Angeles, California, USA ...","August 12, 2014 in New York City, New York, US...",NaN,"March 5, 1982 in Hollywood, Los Angeles, Calif...","July 30, 2007 in Fårö, Gotlands län, Sweden"
death_year,1987,2014,NaN,1982,2007
date_of_death,1987-06-22,2014-08-12,NaN,1982-03-05,2007-07-30
place_of_death,"Los Angeles, California, USA","New York City, New York, USA",NaN,"Hollywood, Los Angeles, California, USA","Fårö, Gotlands län, Sweden"
reason_of_death,pneumonia,stroke,NaN,acute cocaine and heroin intoxication,NaN
spouses,2,2,4,1,5
divorces,0,1,3,0,4
spouses_with_children,1,2,1,0,5
children,2,3,1,0,8
primary_profession,"soundtrack,actor,miscellaneous","actress,soundtrack","actress,soundtrack,producer","actor,writer,soundtrack","writer,director,actor"
known_for_titles,"tt0050419,tt0053137,tt0072308,tt0043044","tt0037382,tt0038355,tt0117057,tt0071877","tt0054452,tt0059956,tt0057345,tt0049189","tt0078723,tt0072562,tt0080455,tt0077975","tt0050976,tt0083922,tt0069467,tt0050986"

In [6]:
df_stats(title)
names.head(5).T

              DataTypes  MissingPct  NUnique
ordering          int64    0.000000       10
category         object    0.000000       12
job              object   74.384409     4549
imdb_title_id    object    0.000000    38800
characters       object   59.300036   103920
imdb_name_id     object    0.000000   175715

,0,1,2,3,4
imdb_name_id,nm0000001,nm0000002,nm0000003,nm0000004,nm0000005
name,Fred Astaire,Lauren Bacall,Brigitte Bardot,John Belushi,Ingmar Bergman
birth_name,Frederic Austerlitz Jr.,Betty Joan Perske,Brigitte Bardot,John Adam Belushi,Ernst Ingmar Bergman
height,177,174,166,173,179
bio,"Fred Astaire was born in Omaha, Nebraska, to J...",Lauren Bacall was born Betty Joan Perske on Se...,"Brigitte Bardot was born on September 28, 1934...","John Belushi was born in Chicago, Illinois, US...","Ernst Ingmar Bergman was born July 14, 1918, t..."
birth_details,"May 10, 1899 in Omaha, Nebraska, USA","September 16, 1924 in The Bronx, New York City...","September 28, 1934 in Paris, France","January 24, 1949 in Chicago, Illinois, USA","July 14, 1918 in Uppsala, Uppsala län, Sweden"
birth_year,1899,1924,1934,1949,1918
date_of_birth,1899-05-10,1924-09-16,1934-09-28,1949-01-24,1918-07-14
place_of_birth,"Omaha, Nebraska, USA","The Bronx, New York City, New York, USA","Paris, France","Chicago, Illinois, USA","Uppsala, Uppsala län, Sweden"
death_details,"June 22, 1987 in Los Angeles, California, USA ...","August 12, 2014 in New York City, New York, US...",NaN,"March 5, 1982 in Hollywood, Los Angeles, Calif...","July 30, 2007 in Fårö, Gotlands län, Sweden"
death_year,1987,2014,NaN,1982,2007
date_of_death,1987-06-22,2014-08-12,NaN,1982-03-05,2007-07-30
place_of_death,"Los Angeles, California, USA","New York City, New York, USA",NaN,"Hollywood, Los Angeles, California, USA","Fårö, Gotlands län, Sweden"
reason_of_death,pneumonia,stroke,NaN,acute cocaine and heroin intoxication,NaN
spouses,2,2,4,1,5
divorces,0,1,3,0,4
spouses_with_children,1,2,1,0,5
children,2,3,1,0,8
primary_profession,"soundtrack,actor,miscellaneous","actress,soundtrack","actress,soundtrack,producer","actor,writer,soundtrack","writer,director,actor"
known_for_titles,"tt0050419,tt0053137,tt0072308,tt0043044","tt0037382,tt0038355,tt0117057,tt0071877","tt0054452,tt0059956,tt0057345,tt0049189","tt0078723,tt0072562,tt0080455,tt0077975","tt0050976,tt0083922,tt0069467,tt0050986"